html {
  box-sizing: border-box;
}
// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  vertical-align: top;
  width: 100%;
}
html,
body {
  margin: 0;
  box-sizing: inherit;
  height: 100%;
  font-family: inherit sans-serif;
  font-size: 16px;
  color: black;
  background-color: grey;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  padding: 15px 15px;
  width: calc(100% - 30px);
  min-height: 100%;
  background-color: #fff;
}

.search-form {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 30px;
}
.submit-btn {
  cursor: pointer;
  border: none;
  background-color: rgb(253, 113, 113);
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  &__link {
    display: block;
    width: 24%;
    color: black;
  }
}
.card {
  // .card__img

  &__img {
    border-radius: 10px;
  }

  // .card__info

  &__info {
    display: flex;
  }
}
.info-item {
}
.load-more-btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  background-color: rgb(247, 182, 182);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
